* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Root Start */
:root {
    --fontnavbar: rgb(233, 154, 19);
    --bgheadertop: black;
    --bgbody-font: white;
    --card: #E7E9EB;
    --color1: #88888B;
    --color2: #D6D6D6;
    --color3: #3C323B;
    --color4: #fff;
    --color-biru1: #528ea4;
    --color-biru2: #Adcede;
    --color-biru3: #F7f3f7;
}

/* Root End */

/* body Start */
body {
    background-color: #F2ece6;
}

/* Body End */

/* Navbar Start */
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 30px;
}
.navbar-collapse ul li {
    margin-right: 5px;
}
/* Navbar End */

/* Navbar Start */
.collapse {
    flex-grow: 0;
    font-size: 18px;
}
/* Navbar End */

@media only screen and (max-width: 600px) {

    .main {
        margin-top: 0;
    }

    .headnav {
        background-color: var(--color-biru1);
    }
   
}

@media only screen and (min-width: 600px) {

    .main {
        margin-top: 0px;
    }

    .headnav {
        background-color: var(--color-biru1);
    }

    .carosel .carousel-item p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {

    .main {
        margin-top: 0px;
    }

    .headnav {
        background-color: var(--color-biru1);
    }

    .carousel-item .mt-5 {
        margin-top: 1rem !important;
        font-size: 18px;
    }

    .carousel-item p {
        font-size: 12px;
    }
    

}

@media only screen and (min-width: 992px) {

    .main {
        margin-top: -66px;
    }

    .headnav {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .carousel-item .mt-5 {
        margin-top: 3rem !important;
    }
    
}

@media only screen and (min-width: 1200px) {

    .main {
        margin-top: -66px;
    }

    .headnav {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .carousel-item .mt-5 {
        margin-top: 6rem !important;
    }
    
}