<div class="table-remove my-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <img src="/public/images/logo2.png" alt="" height="35" class="my-3" />
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col" style="text-align: center;">Via</th>
              <th scope="col" style="text-align: end;">delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td style="text-align: center;">Malang</td>
              <td style="text-align: end;"><button
                  onclick="document.getElementById('warning').style.display='block'"
                  type="button"
                  style="border: none;"
                ><img src="/public/images/Group 19.png" alt="" /></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="input text-end mt-4">
          <button
            onclick="document.getElementById('add-admin').style.display='block'"
          >Add Admin</button>
        </div>
      </div>
    </div>
  </div>
</div>