<div class="waitforpayment mt-5">
  <div class="container">
    <h2>Witing for payment</h2>
    <div class="button">
      <button
        onclick="document.getElementById('payment').style.display='block'"
      >Pay Now</button>
    </div>
  </div>
</div>