<div class="container">
    <div class="row">
        <div class="headline">
            <span class="title">Our Packages</span>
            <h6>“Explore the ultimate selection of our premium products and services,
                curated to elevate your experience to new heights.”</h6>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 ">
                <img src="/images/paket satu.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <div class="jeephead">
                        <h5 class="card-title">Paket I</h5>
                        <span>RP.550.000/Jeep</span>
                        <h4 class=>RUTE</h4>
                        <hr>
                    </div>
                    <ul class="card-text">
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Widodaren View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Sunrise View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Lautan Pasir
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Tiket Masuk Bromo
                        </li>
                    </ul>
                </div>
                <div class="btn-center text-center">
                    <small class="text-body-secondary"><a href="#" class="btn ">BOOK NOW !</a></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/paket dua.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <div class="jeephead">
                        <h5 class="card-title">Paket II</h5>
                        <span>RP.550.000/Jeep</span>
                        <h4 class=>RUTE</h4>
                        <hr>
                    </div>
                    <ul class="card-text">
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Widodaren View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Sunrise View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Lautan Pasir
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Tiket Masuk Bromo
                        </li>
                    </ul>
                </div>
                <div class="btn-center text-center">
                    <small class="text-body-secondary"><a href="#" class="btn ">BOOK NOW !</a></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/paket tiga.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <div class="jeephead">
                        <h5 class="card-title">Paket III</h5>
                        <span>RP.550.000/Jeep</span>
                        <h4 class=>RUTE</h4>
                        <hr>
                    </div>
                    <ul class="card-text">
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Widodaren View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Sunrise View
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Lautan Pasir
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            Tiket Masuk Bromo
                        </li>
                    </ul>
                </div>
                <div class="btn-center text-center">
                    <small class="text-body-secondary"><a href="#" class="btn  ">BOOK NOW !</a></small>
                </div>
            </div>
        </div>
    </div>
</div>